@import url("https://fonts.googleapis.com/css2?family=Bodoni+Moda&family=Poppins:wght@300;400;500;600;700&family=Roboto:wght@400;700&display=swap");
* {
  font-family: Poppins;
}
* p {
  font-size: 15px !important;
  line-height: 30px !important;
  font-weight: 400 !important;
  letter-spacing: 0px !important;
}
* h2 {
  font-size: 35px !important;
  line-height: 50px !important;
  font-weight: 700 !important;
  letter-spacing: 0px !important;
}
* h3 {
  font-size: 30px !important;
  line-height: 36px !important;
  font-weight: 700 !important;
  letter-spacing: 0px !important;
}
* h4 {
  font-size: 25px !important;
  line-height: 35px !important;
  font-weight: 700 !important;
  letter-spacing: 0px !important;
}
* h5 {
  font-size: 20px !important;
  line-height: 32px !important;
  font-weight: 600 !important;
  letter-spacing: 0px !important;
}
* h6 {
  font-size: 14px !important;
  line-height: 26px !important;
  font-weight: 500 !important;
  letter-spacing: 4px !important;
}

body {
  font-size: 15px;
  line-height: 30px;
  font-weight: 400;
  letter-spacing: 0px;
}

.row {
  display: flex;
}

.col-25 {
  max-width: 25%;
  flex: 0 0 25%;
}

.col-33 {
  max-width: 33.3333%;
  flex: 0 0 33.3333%;
}

.col-40 {
  max-width: 40%;
  flex: 0 0 40%;
}

.col-50 {
  max-width: 50%;
  flex: 0 0 50%;
}

.col-60 {
  max-width: 60%;
  flex: 0 0 60%;
}

.black-button {
  color: white;
  background-color: black;
  font-family: Poppins;
  font-size: 15px;
  line-height: 15px;
  font-weight: 600;
  padding: 15px 40px;
  border-radius: 10px;
  border: 0;
  cursor: pointer;
}
.black-button:hover {
  background-color: #5e5e5e;
  border-color: transparent;
}

.header {
  max-width: 100%;
  height: 61px;
  background-color: rgba(255, 255, 255, 0.979);
  padding: 0 1%;
  position: fixed;
  z-index: 1000;
  justify-content: space-between;
}

.top-bar-left {
  width: 70%;
}

.top-bar-right {
  width: 30%;
  justify-content: end;
}

.main-header-top-bar-left {
  max-width: 70%;
  margin: 0 585px 0 0;
}

.main-header-top-bar-right {
  max-width: 30%;
}

.logo {
  margin: 13px 30px 0 20px;
}
.logo img {
  width: 122px;
  height: 35px;
}

.navigation ul {
  list-style-type: none;
}
.navigation ul li:hover {
  color: #d00909;
}
.navigation span {
  line-height: 60px;
  font-family: Poppins;
  text-decoration: none;
  padding: 0 20px;
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 0;
  transition: 0.5s;
  cursor: pointer;
}

.input-search {
  border: 0;
  border-bottom: 1px solid black;
  outline: none;
  height: 25px;
  font-family: Poppins;
  font-size: 15px;
  margin: 15px 16px 0 10px;
  background-color: rgba(255, 255, 255, 0);
}

.search-button {
  width: 32px;
  height: 32px;
  background-color: rgba(255, 255, 255, 0);
  border: 0;
  padding: 0;
  margin: 15px 0 0;
  cursor: pointer;
}
.search-button img {
  width: 70%;
  height: 70%;
}

.buynow-button {
  font-family: Poppins;
  font-weight: 700;
  font-size: 15px;
  line-height: 12px;
  color: white;
  padding: 12px 18px;
  background-color: black;
  border-radius: 10px;
  border: 1px solid black;
  margin: 11px 15px 0 10px;
  transition: 0.3s;
  cursor: pointer;
}
.buynow-button:hover {
  background-color: #5e5e5e;
  border-color: transparent;
}

.start-header {
  max-width: 100%;
  height: 90px;
  margin: 0 1%;
}

.logo-start {
  margin: 25px 30px 0 20px;
}

.start-nav ul li {
  padding: 15px 0 0;
}
.start-nav ul li span {
  line-height: 60px;
}

.start-top-bar-right {
  margin: 14px 0;
  justify-content: end;
}

@media (min-width: 1920px) {
  .start-block {
    height: 1000px;
    background-color: #ececec;
    background-image: url(images/start-woman.png);
    background-repeat: no-repeat;
    background-size: 100% cover;
    background-position: 49.05vw 7px;
  }
  .start-content {
    margin: 149px 0 0 212px;
  }
  .start-content div {
    margin: 121px 0 0 0;
  }
  .title {
    font-family: Poppins;
    font-size: 90px;
    font-weight: 600;
    line-height: 105px;
    position: relative;
    z-index: 100;
  }
  .start-links {
    display: block;
    width: 60px;
    height: 60px;
  }
  .start-links img {
    width: 100%;
    height: 100%;
  }
  .start-description {
    font-family: Roboto;
    font-size: 15px;
    font-weight: 400;
    line-height: 30px;
    margin: 0 0 0 60px;
  }
  .start-facebook-link {
    margin-right: 40px;
  }
  .red-circle {
    width: 230px;
    height: 230px;
    border-radius: 100%;
    background-color: rgb(212, 0, 0);
    position: absolute;
    top: 23px;
    left: 502px;
    z-index: 10;
  }
  .services {
    height: 730px;
    padding: 140px 0 100px;
    justify-content: center;
    font-family: Poppins;
  }
  .services .services-content {
    display: flex;
    margin: 0 21.9%;
  }
  .services .services-content img {
    margin-left: 33px;
  }
  .services .services-content .services-img-1 {
    margin-bottom: 54px;
  }
  .services .services-content .services-img-2 {
    margin-bottom: 41px;
  }
  .services .services-content h5 {
    margin: 20px 0 0 39px;
  }
  .services h2 {
    margin: 36px 0 0 0;
  }
  .services h6 {
    color: #d00909;
    display: flex;
  }
  .services h6::before {
    content: "";
    display: block;
    border: 1px solid black;
    width: 27px;
    height: 8px;
    border-radius: 10px;
    margin: 8px 20px 0 0;
  }
  .services button {
    margin: 36px 0 0;
  }
  .about-background {
    height: 1133px;
    padding: 0 95px;
    background-color: #eeeded;
  }
  .about-background-image {
    width: 100%;
    height: 100%;
    background-image: url(images/about-image.jpg);
    background-repeat: no-repeat;
    background-size: 89.2vw;
  }
  .about-container {
    background-color: #eeeded;
    padding: 20px 0;
    height: 1118px;
  }
  .about-content {
    max-width: 55%;
    margin: auto;
    text-align: center;
  }
  .about-content h6 {
    color: #d00909;
    margin: 185px 0 35px;
  }
  .about-content h3 {
    margin: 0 100px;
  }
  .about-content .about-red-circle {
    width: 15px;
    height: 15px;
    border-radius: 100%;
    background-color: #d00909;
    margin: 23px auto;
  }
  .about-content .row {
    margin: 97px 0 0;
    max-width: 90%;
  }
  .about-content .row .col-25 {
    margin: 0 35px 0 0;
  }
  .about-content .row .benie-bentrolenstri {
    margin: 0 0 15px;
  }
  .about-content .row h4 {
    margin: 0 40px 15px;
  }
  .useful-tips-container {
    height: 2061px;
    padding: 140px 0 100px;
  }
  .useful-tips-content {
    max-width: 1080px;
    margin: auto;
  }
  .useful-tips-content h2 {
    margin: 0 0 55px 64px;
  }
  .useful-tips-first-subblock {
    max-width: 49%;
    margin: 0 0 0 60px;
  }
  .useful-tips-first-subblock .duis-aute-irure {
    margin: 36px 0 35px;
  }
  .minim-veniam {
    margin: 0 0 0 5px;
  }
  .useful-tips-table {
    width: 423px;
    height: 587px;
    padding: 80px 60px 65px;
    border: 1px solid black;
    border-radius: 70px;
    margin: 0 0 0 63px;
    text-align: center;
  }
  .useful-tips-table h5 {
    margin: 0 0 15px;
  }
  .useful-tips-table button {
    width: 100%;
    margin: 35px 0 25px;
  }
  .useful-tips-table button span {
    margin: 0 0 0 10px;
  }
  .useful-tips-line {
    border-top: 1px solid black;
    width: 98%;
    margin: 100px 0 116px 10px;
  }
  .useful-tips-second-block h4 {
    display: flex;
  }
  .useful-tips-second-block h4::before {
    content: "!";
    display: flex;
    width: 69px;
    height: 69px;
    background-color: #d00909;
    border-radius: 100%;
    margin: 0 23px 0 17px;
    color: white;
    font-weight: 200;
    font-size: 40px;
    justify-content: center;
    align-items: center;
  }
  .useful-tips-second-block p {
    margin: 36px 25px 55px 109px;
  }
  .statistics-container {
    height: 1321px;
    padding: 140px 190px 0;
    background-color: #ffedeb;
  }
  .statistics-image {
    width: 100%;
    height: 1181px;
  }
  .statistics-content {
    text-align: center;
  }
  .statistics-content h6 {
    color: #d00909;
    margin: 235px 0 35px;
  }
  .statistics-content h2 {
    margin: 0 0 155px;
  }
  .statistics-content span {
    font-size: 70px;
    line-height: 70px;
    font-weight: 500;
    color: #d00909;
  }
  .statistics-content .big {
    font-size: 17px;
    line-height: 30px;
    font-weight: 700;
    letter-spacing: 0px;
    display: block;
    margin: 21px 0 56px;
  }
  .statistics-content .aliquam-fringilla {
    margin: 27px;
  }
  .our-references-container {
    height: 672px;
    padding: 140px 0 100px;
  }
}/*# sourceMappingURL=style.css.map */